.progressbar {
    text-align: left;
    height: 40px;
    margin: 0 auto;
    width: 75%;
    background-color: lightgray;
    border-radius: 3px;
    position: relative;
  }

  .progressvalue {
      float: right;
      position: absolute;
      font-size: 40px;
      padding: 0 5px;
      line-height: 40px;
      z-index: 100;

  }

.progress {
    background:linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
    height: 40px;
    float: left;
    animation: hue-rotate 3s linear infinite;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: width 750ms ease-in-out;
}

@keyframes hue-rotate {
    from {
      -webkit-filter: hue-rotate(0);
      -moz-filter: hue-rotate(0);
      -ms-filter: hue-rotate(0);
      filter: hue-rotate(0);
    }
    to {
      -webkit-filter: hue-rotate(360deg);
      -moz-filter: hue-rotate(360deg);
      -ms-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }