.progressbar {
    text-align: left;
    height: 40px;
    margin: 0 auto;
    width: 75%;
    background-color: lightgray;
    border-radius: 3px;
    position: relative;
  }

  .progressvalue {
      float: right;
      position: absolute;
      font-size: 40px;
      padding: 0 5px;
      line-height: 40px;
      z-index: 100;

  }

.progress {
    height: 40px;
    float: left;
    background-color: darkblue;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: width 750ms ease-in-out;
}